* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Montserrat;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 0px 0px 2px rgba(139, 17, 215, 0.78);
  background-color: #010120;
}

.head {
  font-size: 50px;
  font-family: Montserrat;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 0px 0px 12px rgba(139, 17, 215, 0.78);
  padding-bottom: 5%;
}

.intro-container {
  padding-left: 23%;
  padding-right: 23%;
  padding-bottom: 5%;
}

.intro {
  font-family: Montserrat;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 0px 0px 12px rgba(139, 17, 215, 0.78);
  border: 5px solid #FFFFFF;
  -webkit-box-shadow: 0px 0px 12px 2px #BD03FE;
          box-shadow: 0px 0px 12px 2px #BD03FE;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro .intro__body {
  padding: 20px;
}

textarea:focus,
input:focus {
  outline: none;
}

.form-register {
  padding-left: 23%;
  padding-right: 23%;
  padding-bottom: 5%;
}

.form-register .form-element {
  background: #F0DCFD;
  border-radius: 40px;
  color: rgba(44, 1, 71, 0.78);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  margin-bottom: 3%;
}

.form-register .form-element input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(44, 1, 71, 0.78);
  background-color: #F0DCFD;
  opacity: 0.5;
}

.form-register .form-element input:focus {
  opacity: 1;
}

.form-register .form-element input[type='text'],
.form-register .form-element label {
  display: block;
}

.form-register .form-element input[type='text'],
.form-register .form-element input[type='email'] {
  width: 60%;
}

.form-register .form-element input[type="radio"] {
  display: none;
}

.form-register .form-element input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  border: 3px solid rgba(44, 1, 71, 0.78);
  border-radius: 50%;
  cursor: pointer;
}

.form-register .form-element input[type="radio"]:checked + label span {
  border: 3px solid rgba(44, 1, 71, 0.78);
  border-radius: 50%;
  background: rgba(44, 1, 71, 0.78);
  background-clip: content-box;
}

.form-register .form-element-file {
  background: #F0DCFD;
  border-radius: 40px;
  color: rgba(44, 1, 71, 0.78);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  margin-bottom: 3%;
}

.form-register .form-element-file label {
  display: block;
}

.form-register .form-element-file input[type="file"] {
  display: none;
}

.form-register .form-element-file .custom-file-upload {
  border: 2px solid rgba(44, 1, 71, 0.78);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.form-element-radio-descr input[type="radio"] {
  display: none;
}

.form-element-radio-descr input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  border: 3px solid #FFFFFF;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(139, 17, 215, 0.78);
          box-shadow: 0px 0px 9px 2px rgba(139, 17, 215, 0.78);
  border-radius: 50%;
  cursor: pointer;
}

.form-element-radio-descr input[type="radio"]:checked + label span {
  border: 3px solid #FFFFFF;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(139, 17, 215, 0.78);
          box-shadow: 0px 0px 9px 2px rgba(139, 17, 215, 0.78);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background: white;
  background-clip: content-box;
}

input[type='button'] {
  background: rgba(199, 121, 248, 0.78);
  -webkit-box-shadow: 0px 0px 20px 9px rgba(180, 107, 225, 0.78);
          box-shadow: 0px 0px 20px 9px rgba(180, 107, 225, 0.78);
  border-radius: 40px;
  width: 100%;
  padding: 40px;
  border: none;
  font-size: 30px;
  color: white;
}

#expectations {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  border: 1px solid rgba(44, 1, 71, 0.78);
  background: #F0DCFD;
  max-width: 90%;
  resize: none;
  font-size: 13px !important;
}

@media only screen and (max-width: 1023px) {
  .head {
    font-size: 25px;
    text-align: center;
    padding-bottom: 20%;
  }
  .intro-container {
    padding: 0;
    padding-bottom: 20%;
    font-size: 13px !important;
  }
  .form-register {
    padding: 0;
  }
  #expectations {
    width: 90%;
  }
  input[type='text'],
  input[type='email'] {
    width: 100%;
    font-size: 13px !important;
  }
  .intro {
    font-size: 13px !important;
  }
}

.important_star {
  padding-bottom: 4%;
  font-family: Montserrat;
  font-style: normal;
  color: #Ff02d7;
  text-shadow: 0px 0px 12px rgba(139, 17, 215, 0.78);
}

.star {
  color: #Ff02d7;
}

.thankyou_container {
  height: 100vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 0px 12px rgba(139, 17, 215, 0.78);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../images/thankyou_bg.png) no-repeat;
  background-size: 100% 100%;
  padding: 24px;
}

.thankyou_text {
  padding-left: 20%;
  padding-right: 20%;
}

.header {
  font-size: 64px;
}

.write_us {
  color: #e700e7;
}

.write_us:hover {
  color: #e700e7;
}

@media only screen and (max-width: 1023px) {
  .thankyou_container {
    font-size: 16px;
    line-height: 20px;
    background: url(../images/mobile_bg.png) no-repeat;
    background-size: 100% 100%;
  }
  .thankyou_text {
    padding: 0;
  }
  .header {
    font-size: 21.5px;
  }
}
/*# sourceMappingURL=style.css.map */